<% include ../partials/header %>

<<<<<<< HEAD
<p>
	<% for(var i = 0; i<result.length; i++){%>
	<%= result%>
	<% }%>
</p>

<!-- <div class="container">
	<nav class="navbar navbar-light bg-light">
		<header>
			<h1>Results Page</h1>
		</header>
	</nav>
=======
>>>>>>> b954bc2228e48c9d75f5bab867c994fae8130cc4

<nav class="navbar navbar-dark fixed-top bg-dark" style="text-align: center;">
	<header>
		<h1 >Results Page</h1>
	</header>
</nav>

<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<section>
			<div class="row">
				<div class="col-md-4 text-center " >
					<button type="button" href="https://www.amazon.com.au/" class="btn btn-outline-info btn-lg">Amazon</button>

				</div>
				<div class="col-md-4 text-center">
					<button type="button" href="https://www.amazon.com.au/" class="btn btn-outline-info btn-lg">Ebay</button>

				</div>
				<div class="col-md-4 text-center">
					<button type="button" href="https://www.amazon.com.au/" class="btn btn-outline-info btn-lg">Gumtree</button>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-body" style="width: 18rem;">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Item #1 </h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</div> -->
<% include ../partials/footer %>