<% include ../partials/header %>

<div class="jumbotron">
	<h1>Landing Page</h1>
</div>



<!-- <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="input-group" id="adv-search" action="/results" method="GET" >
				<input type="text" class="form-control form-control-lg" placeholder="Search for Item"/>
				<div class="input-group-btn">
					<div class="btn-group" role="group">

						<button type="submit" class="btn btn-primary btn-lg"><span class="fas fa-search" aria-hidden="true"></span></button>

					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->


<% include ../partials/footer %>
