<% include ../partials/header %>

<h1>Search for an Item</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="input-group" id="adv-search">
				<input type="text" class="form-control form-control-lg" placeholder="Search for Item" />
				<div class="input-group-btn">
					<div class="btn-group" role="group">
						<div class="dropdown dropdown-lg">

							<button type="submit" class="btn btn-primary btn-lg"><span class="fas fa-search" aria-hidden="true"></span></button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>
